body {
  font-family: 'Lato', sans-serif;
  color: #37392E;
  background: linear-gradient(#F5F5F5, #F5F5F5);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.PantrySingle {
  text-align: center;
}

table,
td {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

.recipesPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.allRecipesContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.addRecipeBtnContainer {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.recipesHeader {
  display: flex;
  justify-content: center;
}

.recipeCardContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipeCard {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  height: 400px;
  width: 300px;
}

.recipeImg {
  border: 1px solid black;
  border-radius: 5px;
}
