body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.logo {
  font-family: 'Russo One', sans-serif;
}

.allRecipesContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.recipesHeader {
  display: flex;
  justify-content: center;
}

.recipeCardContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.recipeCard {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.recipeImg {
  border: 1px solid black;
  border-radius: 5px;
}
