.authFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 65px;
}

.authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button {
  background-color: #e85f5c;
  border: none;
  margin: 15px;
}

.button:hover {
  background-color: #e54946;
}

.authPageContainer {
  display: flex;
  justify-content: center;
  margin: 150px;
}

#authPageImg {
  border-radius: 50%;
  height: 450px;
  width: 450px;
  border: 4px solid #e85f5c;
}

.authPageImgContainer {
  margin-left: 65px;
}

.formTitle {
  color: #012a36;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
