.allfoodsbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.search {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.search > input {
  width: 400px;
}

.allFoodsSetting {
  display: flex;
  flex-direction: column;
}

.minmaxSetting {
  display: flex;
  flex-direction: row;
}

.minmaxSetting > input {
  width: 80px;
}

.foodcards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.foodcards > * {
  width: 400px;
  height: 750px;
  margin: 15px;
}

.foodcard > button {
  padding: 5px;
}
