.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container > h3 {
  align-self: center;
  margin-top: 10px;
}

.charts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.chartCard {
  width: 850px;
  height: 750px;
}
