body {
  font-family: 'Lato', sans-serif;
  color: #012a36;
}

.recipesPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.allRecipesContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.addRecipeBtnContainer {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.recipesHeader {
  display: flex;
  justify-content: center;
}

.recipeCardContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipeCard {
  margin: 15px;
}

.recipeImg {
  height: 56.25%;
  width: 18rem;
}

.button {
  background-color: #e85f5c;
  border: none;
  margin: 15px;
}

.button:hover {
  background-color: #e54946;
}

.buttonOutline {
  border-color: #e85f5c;
  color: #e85f5c;
}

.buttonOutline:hover {
  border-color: #e54946;
  background-color: #e54946;
}

.carouselContainer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.sectionHeader {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(https://envato-shoebox-0.imgix.net/7207/244b-7205-498a-ac42-be724c0cc864/Grilled+meat_1_banner.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=0733ee80d4d4d56268984666018bd1e5);
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  color: #f5f5f5;
  position: relative;
  display: flex;
  justify-content: center;
}

.sectionTitle {
  font-size: 62px;
}
