.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
}

.container > h1 {
  margin-left: 20px;
}

.recRecipes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 900px;
  padding: 20px;
}

.recRecipeCard {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  margin: 20px;
}

.expandedCard {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 400px;
  margin: 20px;
}

.cardTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

Button {
  width: 250px;
  align-self: center;
}
