.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
}

.container > h1 {
  margin-left: 20px;
}

.recRecipes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 900px;
  padding: 20px;
}

.recRecipeCard {
  margin: 15px;
}

.expandedCard {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 400px;
  margin: 20px;
}

.cardTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonOutline {
  border-color: #e85f5c;
  color: #e85f5c;
}

.buttonOutline:hover {
  border-color: #e54946;
  background-color: #e54946;
}

.recipeImg {
  height: 56.25%;
  width: 18rem;
}
