.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.shopNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list {
  display: flex;
  width: 400px;
}

.enlarge {
  font-size: larger;
  text-align: center;
}

.removebutton {
  width: 80px;
  align-self: center;
}

.button {
  width: 180px;
  align-self: center;
  justify-content: center;
}
